body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(255, 220, 202);
}

.questionBox {
    box-sizing: content-box;
    width: 36%;
    align-items: center;

    height: 200px;
    float: left;
    border: solid rgb(85, 45, 35) 5px;
    padding: 5px;
    background: white;
}

.submitBox {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 75%;
    height: 125px;
    border: solid rgb(85, 45, 35) 5px;
    background: white;
}

.container {
    text-align: center;
    font-size: 20px;
    padding: 25px;

}